<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>    
        <h2>🏫Students score app</h2>
    </header>
    <main>
        <section class="form">
            <form method="" action="">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
                <label for="name">Surname:</label>
                <input type="text" name="Surname" id="Surname" required>
                <label for="score">Score:</label>
                <input type="number" name="score" id="score" required>
                <button type="submit">Submit</button>
            </form>
        </section>
        <section class="list">
            <h2 style="padding: 0.5rem 1rem;">รายชื่อนักเรียน</h2>
            <ul>
                <li>
                    <div><h3>name  surname</h3></div>
                    <div>ได้ ...... คะแนน</div>
                    <div>ได้เกรด ..... </div>
                </li>
                <li>
                    <div><h3>name  surname</h3></div>
                    <div>ได้ ...... คะแนน</div>
                    <div>ได้เกรด ..... </div>
                </li>
                <li>
                    <div><h3>name  surname</h3></div>
                    <div>ได้ ...... คะแนน</div>
                    <div>ได้เกรด ..... </div>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>© 2024 Mr.Wisanu Phonchariyatham Chonradsadornumrung School.</p>
    </footer>
</body>
</html>